.signUpPage{
    width: 100%;
    display: flex;
    justify-content: center;
}
.signUpBox{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 900px;
}
.signUpForm{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.consentRow{
    display: flex;
    flex-direction: row;

}
input{
    margin: 5px;
}
